<ng-container *ngIf="!preloader">
  <div class="box">
    <md-input-container class="full-width">
      <input mdInput name="search" placeholder="Search" value="" [(ngModel)]="search"
             (keyup)="doSearch()">
    </md-input-container>
  </div>

  <md-card *ngFor="let user of filtredUsers">
    <md-card-header>
      <md-card-title (click)="goToDetail(user)" class="link">{{user.name}}</md-card-title>
      <md-card-subtitle class="user-list__contact-info">
        <a class="link fa fa-envelope" target="_blank"
           href="mailto:{{user.email}}">{{user.email}}</a>|
        <a class="link fa fa-mobile" target="_blank" href="{{user.phone | phoneHref}}">{{user.phone}}</a>|
        <a class="link fa fa-globe" target="_blank"
           href="//{{user.website}}/">{{user.website}}</a><br/>
        <a class="link fa fa-map-marker" target="_blank" href="{{user.address.geo | geoHref}}">{{user.address.zipcode}},
          {{user.address.city}}, {{user.address.street}}, {{user.address.suite}}</a>
      </md-card-subtitle>
    </md-card-header>
  </md-card>


  <md-paginator [length]="pageEvent.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="doPagination($event)">
  </md-paginator>

</ng-container>

<md-spinner *ngIf="preloader"></md-spinner>