<ng-container *ngIf="!preloader">
  <div class="box">
    <md-input-container class="full-width" *ngIf="!isParentSearch">
      <input data-unit-test="albums-search-input" mdInput name="search" placeholder="Search"
             value="" [(ngModel)]="search"
             (keyup)="doSearch()">
    </md-input-container>

    <ng-container *ngIf="pageEvent.length>0">
      <div class="albums" data-unit-test="albums">
        <figure *ngFor="let album of filtredAlbums" class="albums__item"
                data-unit-test="albums-item"
                (click)="goToDetail(album)">
          <photos-in-album [albumID]="album.id"
                           data-unit-test="albums-item-pictures"></photos-in-album>
          <figcaption data-unit-test="albums-item-title"><span>{{album.title}}</span></figcaption>
        </figure>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="pageEvent.length>0">
    <md-paginator data-unit-test="albums-pagination" [length]="pageEvent.length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="doPagination($event)">
    </md-paginator>
  </ng-container>
</ng-container>

<md-spinner *ngIf="preloader"></md-spinner>